services:
  searxng:
    image: docker.io/searxng/searxng:latest
    volumes:
      - ./searxng:/etc/searxng:rw
    restart: unless-stopped

  app:
    image: itzcrazykns1337/perplexica:latest
    environment:
      # - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      # - OPENAI_API_KEY=${OPENAI_API_KEY}
      # - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      # - GEMINI_API_KEY=${GEMINI_API_KEY}
      - SEARXNG_API_URL=https://searxng.martin-linde.com
      - DATA_DIR=/home/perplexica
    volumes:
      - backend-dbstore:/home/perplexica/data
      - uploads:/home/perplexica/uploads
      - ./config.toml:/home/perplexica/config.toml
    restart: unless-stopped

volumes:
  backend-dbstore:
  uploads:
